@import "{}/imports/ui/stylesheets/utils.less";
.landing-container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  transition: all 200ms ease-in;
  background: rgba(3, 2, 2, 0.1);

  .login-bar {
    margin: auto;
    height: 50px;
  }

  header,
  p,
  button,
  img,
  .btn-primary,
  .btn-secondary {
    text-align: center;
    color: white;
    margin: 2rem auto;
  }

  header {
    font-size: 3rem;
  }

  img {
    width: 100%;
    height: auto;
    //margin: auto;
    max-width: 414px; // cant be 100% for firefox
  }

  .btn-primary {
    text-transform: unset;
    font-size: 2rem;
    margin: auto;
  }

  .btn-secondary {
    text-transform: unset;
    font-size: 0.8rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .logo-image {
    width: 10%;
  }
}

.app-download {
  text-align: center;
  img {
    width: 20rem;
    margin-bottom: 0;
  }
  &.cordova {
    display: none;
  }
  p {
    margin-top: 0;
  }
}
