@import '{}/imports/ui/stylesheets/utils.less';

.page.leagues-show {
  .content-scrollable {
    background: @color-empty;
    top: 5em !important;
  }
  .wrapper-message {
    // override the default positioning for messages
    .position(relative, 0%, 0, auto, 0);
    transform: none;
  }
}

.league-standings {
  font-size: 1em;
  .list-item {
    padding-left: 0px;
    height: 100%;
  }
  .league-player {
    width: 100%;
    &:hover {
      background-color: #d4ecf4;
      cursor: pointer;
    }
  }
}