@import "{}/imports/ui/stylesheets/utils.less";

.page.leagues-show {
  .content-scrollable {
    background: @color-empty;
    top: 5rem !important;
  }
  .wrapper-message {
    // override the default positioning for messages
    .position(relative, 0%, 0, auto, 0);
    transform: none;
  }
}

.league-standings {
  font-size: 1rem;
  .list-item {
    padding-left: 0px;
    height: 100%;
  }
  .league-player {
    width: 100%;
    &:hover {
      background-color: #d4ecf4;
      cursor: pointer;
    }
  }
}

.league-invite {
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;

  .league-invite-container {
    padding: 1rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 2rem;
    filter: invert(100%);
  }
  .league-invite-code {
    font-size: 2rem;
  }
  .league-invite-description {
    display: none;
    font-size: 0.6rem;
  }
  .league-invite-subdescription {
    display: none;
    font-size: 0.6rem;
  }
}
