@import '{}/imports/ui/stylesheets/utils.less';
.logo-container {
  padding: 2em;
}

.logo-image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-title {
  font-family: 'Montserrat';
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  text-align: center;
}