@import '{}/imports/ui/stylesheets/utils.less';

.league-standings {
    .list-item {
        margin-left: auto;
        margin-right: auto;
    }

    .player-name {
        // width: 100%;
        INPUT {
            font-size: 2em;
            width: 7em;
        }
    }

    .delete-item {
        font-size: 2em;
    }

    .player-score {
        float:left;
        font-size: 4em;
        width: 100%;
    }
}