@import '{}/imports/ui/stylesheets/utils.less';

.league-standings {
    .list-item {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        height: 100%;
    }

    .player-name {
        overflow-x:hidden;
        width: 100%;
        padding-top: 0.2em;
        color: #555;
        INPUT {
            font-size: 2em;
            width: 7em;
            padding: 0px;
        }
    }

    .delete-item {
        font-size: 2em;
    }

    .player-score {
        width: 100%;

        SPAN {
            color: rgb(36, 35, 35);
        }
    }
}