@import '{}/imports/ui/stylesheets/utils.less';

.player-new-container {
  width: 65vw;
  
  form.player-new {
    input[type="text"] {
      background: transparent;
      padding-bottom: .25em;
      padding-left: 44px !important;
      padding-top: .25em;
      width: 20em;
      display: unset;
    }
  }
}
